@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --Brand-Colors-White: #FFF;
    --Brand-Colors-Dark-Blue: #002657;
    --Brand-Colors-Button-Hover-BG: #F4F6F6;

    --Side-Margin: 20vw;
    --Section-Width: 60vw;
}

body {
    margin: 0;
}

.dark {
    background-color: var(--Brand-Colors-Dark-Blue);
    color: var(--Brand-Colors-White);
}

.light {
    background-color: var(--Brand-Colors-White);
    color: var(--Brand-Colors-Dark-Blue);
}

.grey {
    background-color: var(--Brand-Colors-Button-Hover-BG);
    color: var(--Brand-Colors-Dark-Blue);
}

h1, h2, h3, h4, h5, p, a {
    color: inherit;
}

h1 {
    font-family: "Space Mono";
    font-size: 3em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}

h2 {
    font-family: "Space Mono";
    font-size: 2.25em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}

h3 {
    font-family: "Space Mono";
    font-size: 1.5em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}

h4, .h4 {
    font-family: "PT Sans";
    font-size: 1.5em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}

h5 {
    font-family: "PT Sans";
    font-size: 1em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}

p {
    font-family: "PT Sans";
    font-size: 1em;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
}

a {
    font-family: "PT Sans";
    font-size: 1em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
    padding-bottom: 2px;
}

a:hover {
    border-bottom: 2px solid currentColor;
    padding-bottom: 0;
}

.text-center {
    text-align: center;
}

ul {
    margin: 0;
}

/* Display classes */

.center-content {
    justify-content: center;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

/* Nav */

#navbar {
    display: flex;
    padding: 5px 5vw;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
}

.navbar-brand {
    display: flex;
    align-items: center;
    gap: 10px;
    border-bottom: none !important;
    padding: 19px 0 17px !important;
}

#menu-toggle {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
}

.nav-link-group {
    display: flex;
    align-items: flex-start;
    gap: 24px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-weight: 400;
    padding: 19px 0 17px;
    min-width: 44px;
}

/* More Styles */

#hero {
    min-height: 360px;
    padding: 48px 15vw;
    gap: 16px;
    text-align: center;
}

#introduction {
    padding-top: 64px;
    gap: 64px;
}

.centered-textdiv {
    display: flex;
    max-width: 53vw;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    margin: 0 auto;
    width: 100%;
}

#photo-section-wrapper {
    align-items: flex-start;
}

.photosection {
    display: flex;
    align-items: flex-start;
    height: 28vw;
}

.photosection img {
    max-width: 100%;
    height: 100%;
    display: block;
}

.photo-text {
    width: 840px;
    padding: 0px 5vw;
    justify-content: center;
    gap: 24px;
    align-self: stretch;
}

#WCAG {
    padding: 64px 0 96px;
    gap: 48px;
}

#accessibilitySvg {
    max-width: 300px;
}

#WCAG-body {
    align-items: center;
    gap: 36px;
    margin-left: var(--Side-Margin);
    margin-right: var(--Side-Margin);
}

.WCAG-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}

#POUR-principles {
    padding: 64px 0 96px;
    gap: 48px;
    max-width: var(--Section-Width);
    margin: 0 auto;
}

/* accordion styling */

.accordion {
    display: flex;
    max-width: 1168px;
    flex-direction: column;
    margin-right: var(--Side-Margin);
    margin-left: var(--Side-Margin);
}

.accordion-item {
    border-bottom: 1px solid var(--Brand-Colors-Dark-Blue);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.accordion-button {
    font-family: "PT Sans";
    font-size: 1em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
    background-color: var(--Brand-Colors-White);
    color: var(--Brand-Colors-Dark-Blue);
    border: none;
    padding: 21px 24px 13px;    
    width: var(--Section-Width);
}

.accordion-button:hover {
    background-color: var(--Brand-Colors-Button-Hover-BG);
}

.accordion-title {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.accordion-content {
    padding: 8px 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    display: none;
    overflow: hidden;
}

.column-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.accordion-column {
    display: flex;
    padding: 16px 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    flex: 1 0 0;
    min-width: 300px;
}

.accordion-subheading {
    display: flex;
    align-items: center;
    gap: 8px;
}

.accordion-subheading h4 {
    font-size: 1em;
}

.accordion-list {
    display: flex;
    margin: 0;
    padding-left: 42px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
}

/* last few sections */

#tools-section {
    padding: 64px 18vw;
    gap: 48px;
    flex-wrap: wrap;
}

/* card styling */

#tool-cards {
    display: flex;
    gap: 48px;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex: 1 0 0;
    border: 1px solid rgba(0, 38, 87, 0.30);
    background: var(--Brand-Colors-White);
    max-width: 360px;
    min-width: 300px;
}

.card-body {
    display: flex;
    padding: 24px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
}

.card-img {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    height: 150px;
    object-fit: cover;
    max-width: 360px;
    min-width: 300px;
}

/* end card styling */

#about-section {
    padding: 64px 10px;
    gap: 48px;
    margin: 0 auto;
    max-width: 1168px;
}

#about-body {
    gap: 24px;
    margin: 0 auto;
}

#about-card {
    align-items: flex-start;
    gap: 24px;
}

.row {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-self: stretch;
    gap: 24px;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    flex: 1 0 0;
}

#row1 {
    gap: 28px;
}

#headshot-placeholder {
    max-height: 360px;
    max-width: 360px;
    width: 63vw;
    height: 63vw;
}

#bio-text {
    height: auto;
    min-height: 360px;
    max-width:780px;
    justify-content: space-between;
    align-items: flex-start;
    flex: 1 0 0;
    gap: 24px
}

#about-me {
    width: 40vw;
    height: auto;
    flex-shrink: 0;
}

#name-socials {
    display: inline-flex;
    align-items: center;
    gap: 16px;
}

#social-icons {
    display: flex;
    align-items: center;
    gap: 8px;
}

.margin-24 {
    margin-top: 1vw;
}

#education {
    height: auto;
    align-items: flex-start;
    gap: 0.4vw;
    flex-shrink: 0;
}

#interests-hobbies {
    gap: 24px;
    align-self: stretch;
}

#interests-hobbies ul {
    padding-left: 25px;
}

footer {
    padding: 34px 96px;
    gap: 10px;
}

/* breakpoints for smaller screen widths */

@media screen and (max-width: 1230px) {
    :root {
        --Side-Margin: 10vw;
        --Section-Width: 80vw;
    }

    /* initial section with images */

    .photosection {
        height: fit-content;
    }

    .photosection:nth-child(2) {
        flex-direction: column-reverse;
    }
    .photosection:nth-child(1) {
        flex-direction: column;
    }

    .photosection img {
        width: 100vw;
    }

    .photo-text {
        width: var(--Section-Width);
        margin: 32px auto;
        text-align: center;
    }

    /* about section */

    #about-body {
        margin: 0 var(--Side-Margin);
    }

    #row1 {
        flex-direction: column;
    }

    #about-me {
        width: 100%;
    }

    #bio-text {
        min-height: auto;
    }

    #headshot-placeholder {
        margin: 0 auto;
    }
}

@media screen and (max-width: 900px) {
    .row {
        flex-direction: column;
    }
}

@media screen and (min-width: 769px) { /* screen widths 769px and over */
    .nav-link-group {
        display: flex !important;
    }
}

@media screen and (max-width: 768px) {  /* screen widths 768px and under */
    :root {
        --Side-Margin: 10vw;
        --Section-Width: 80vw;
    }
    
    /* hamburger menu */
    
    #menu-toggle {
        display: block;
    }

    .nav-link-group {
        display: none;
        flex-direction: column;
        gap: 10px;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%; /* Make the menu take up the full width */
        padding: 13px 0px;
        border-top: 1px solid rgba(0, 38, 87, 0.30);
        border-bottom: 1px solid rgba(0, 38, 87, 0.30);
    }

    .nav-link {
        padding: 13px 20px;
        text-align: center;
        justify-content: left;
    }

    .nav-item {
        width: 100%;
    }

    .nav-item:hover, .nav-link:hover {
        background-color: var(--Brand-Colors-Button-Hover-BG);
        border-bottom: none !important;
    }

    .nav-link:hover {
        padding-bottom: 13px !important;
    }

    .nav-item:active {
        border-bottom: none !important;
    }

    #navbar {
        box-shadow: 0px 0px 12px 12px rgba(0, 0, 0, 0.05);
        border-bottom: 1px solid rgba(0, 38, 87, 0.30);
    }

    /* tools section */

    #tools-section {
        padding: 7vw 7vw;
        margin: 0 auto;
    }

    .card {
        max-width:300px !important;
    }
}