/* Space Mono font */
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap'); 

/* PT Sans font */
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --Brand-Colors-White: #FFF;
    --Brand-Colors-Dark-Blue: #002657;
    --Brand-Colors-Button-Hover-BG: #F4F6F6;
}

body {
    margin: 0;
    padding: 0;
}

/* .light-text {
    color: var(--Brand-Colors-White);
}

.dark-text {
    color: var(--Brand-Colors-Dark-Blue);
} */

.dark {
    background-color: var(--Brand-Colors-Dark-Blue);
}

.dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark h5,
.dark p,
.dark a{
    color: var(--Brand-Colors-White);
}

.light {
    background-color: var(--Brand-Colors-White);
}

.light h1,
.light h2,
.light h3,
.light h4,
.light h5,
.light p,
.light a {
    color: var(--Brand-Colors-Dark-Blue);
}

.grey {
    background-color: var(--Brand-Colors-Button-Hover-BG);
}

.grey h1,
.grey h2,
.grey h3,
.grey h4,
.grey h5,
.grey p,
.grey a {
    color: var(--Brand-Colors-Dark-Blue);
}

h1 {
    font-family: "Space Mono";
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}

h2 {
    font-family: "Space Mono";
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}

h3 {
    font-family: "Space Mono";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}

h4, .h4 {
    font-family: "PT Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}

h5 {
    font-family: "PT Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}

p {
    font-family: "PT Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

/* Card Links */

a {
    font-family: "PT Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
}

.light a:hover {
    border-bottom: 2px solid var(--Brand-Colors-Dark-Blue);
}

.dark a:hover {
    border-bottom: 2px solid var(--Brand-Colors-White);
}

/* Nav */

#navbar {
    display: flex;
    padding: 24px 96px;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
    align-self: stretch;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
}

.navbar-brand {
    display: flex;
    align-items: center;
    gap: 10px;
    border-bottom: none;
}

.nav-link-group {
    display: flex;
    align-items: flex-start;
    gap: 24px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-weight: 400;
}


/* More Styles */

#hero {
    display: flex;
    min-height: 360px;
    padding: 48px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}


#introduction {
    display: flex;
    padding-top: 64px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 64px;
    align-self: stretch;
}


.centered-textdiv {
    display: flex;
    max-width: 1024px;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

#photo-section-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
}

.photosection {
    display: flex;
    height: 540px;
    min-height: 540px;
    align-items: flex-start;
    align-self: stretch;
}

.photo-text {
    display: flex;
    width: 840px;
    padding: 0px 96px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
}

#WCAG {
    display: flex;
    padding: 64px 0px 96px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
    align-self: stretch;
}

#WCAG-body {
    display: flex;
    /* min-width: 700px;
    max-width: 1168px; */
    flex-direction: column;
    align-items: center;
    gap: 36px;
    align-self: stretch;    
    margin-left: 20vw;
    margin-right: 20vw;
}

.WCAG-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    gap: 8px;
    align-self: stretch;
}

#POUR-principles {
    display: flex;
    padding: 64px 0px 96px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
    align-self: stretch;
    max-width: 60vw;
    margin-right: auto;
    margin-left: auto;
}

/* accordion styling */

.accordion {
    display: flex;
    max-width: 1168px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    margin-right: 20vw;
    margin-left: 20vw;
}

.accordion-item {
    border-bottom: 1px solid var(--Brand-Colors-Dark-Blue);
    display: flex;
    /* width: 1050px; */
    /* padding: 21px 24px; */
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.accordion-header {

}

.accordion-button {
    font-family: "PT Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;

    background-color: var(--Brand-Colors-White);
    color: var(--Brand-Colors-Dark-Blue);

    border: none;
    padding: 0;

    padding: 21px 24px;    
    width: 60vw;
}

.accordion-button:hover {
    background-color: var(--Brand-Colors-Button-Hover-BG);
}

.accordion-title {
display: flex;
justify-content: space-between;
align-items: flex-start;
align-self: stretch;
}

.accordion-icon {

}

.accordion-content {
    /* width: 1016px; */
    padding: 8px 58px 35px 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    display: none;
    overflow: hidden;
}

.column-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-self: stretch;
}

.accordion-column {
    display: flex;
    padding: 16px 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    flex: 1 0 0;
}

.accordion-subheading {
    display: flex;
    align-items: center;
    gap: 8px;
    }

.accordion-list {
    display: flex;
    margin: 0;
    padding-left: 52px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}

/* last few sections */

#tools-section {
    display: flex;
    padding: 64px 20vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
    align-self: stretch;
    flex-wrap: wrap;
}

/* card styling */

#tool-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
    align-self: stretch;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex: 1 0 0;

    border: 1px solid rgba(0, 38, 87, 0.30);
    background: #FFF;

    max-width: 360px;
    min-width: 300px;
}

.card-body {
    display: flex;
    padding: 24px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}

.img-placeholder {
    display: flex;
    padding: 54px 61px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
}

/* end card styling */

#about-section {
    display: flex;
    padding: 64px 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
    align-self: stretch;
}

#about-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    align-self: stretch;
    margin-right: auto;
    margin-left: auto;
}

#about-card {
    display: flex;
    max-width: 1168px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
}

#headshot-placeholder {
    height: 360px;
    width: 360px;
    max-width: 360px;
    max-height: 360px;
    /* flex: 1 0 0; */
}

#bio-text {

}

footer {
    display: flex;
    padding: 34px 96px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
}